<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <section>
    <div class="mx-layout py-[150px] flex flex-col gap-[120px] ">
      <div class="flex flex-row justify-between items-center gap-10">
        <img src="../../../assets/imgs/about-1.png" alt="01 이미지" class="w-[330px]" />
        <div class="flex flex-col justify-between h-[320px]">
          <div class="flex flex-col gap-5">
            <div class="flex flex-col gap-0">
              <div class="w-[45px] h-[6px] bg-blue"></div>
              <p class="text-[40px] font-[700] text-blue">01</p>
            </div>
            <p class="text-[40px] font-[700]">
              배출(수거) 신청하기
            </p>
          </div>
          <p class="text-[20px] font-[500] text-[#767676]">
            홈 화면에서 공사장 생활 폐기물 배출신고(수거신청) 버튼을 눌러주세요.<br />
            폐기물 배출 신고와 폐기물 수거 신청을 할 수 있어요.
          </p>
        </div>
      </div>
      <div class="flex flex-row justify-between items-center gap-10">
        <div class="flex flex-col justify-between h-[320px]">
          <div class="flex flex-col gap-5">
            <div class="flex flex-col gap-0">
              <div class="w-[45px] h-[6px] bg-blue"></div>
              <p class="text-[40px] font-[700] text-blue">02</p>
            </div>
            <p class="text-[40px] font-[700]">
              해피콜 및 기사배정
            </p>
          </div>
          <p class="text-[20px] font-[500] text-[#767676]">
            신청하신 정보를 기준으로 상담원이 확인 전화를 드려요.<br />
            상담 후, 가장 빠르게 방문할 수 있는 기사님이 배정 되어요.
          </p>
        </div>
        <img src="../../../assets/imgs/about-2.png" alt="01 이미지" class="w-[330px]" />
      </div>
      <div class="flex flex-row justify-between items-center gap-10">
        <img src="../../../assets/imgs/about-3.png" alt="01 이미지" class="w-[330px]" />
        <div class="flex flex-col justify-between h-[320px]">
          <div class="flex flex-col gap-5">
            <div class="flex flex-col gap-0">
              <div class="w-[45px] h-[6px] bg-blue"></div>
              <p class="text-[40px] font-[700] text-blue">03</p>
            </div>
            <p class="text-[40px] font-[700]">
              폐기물 수거 시작
            </p>
          </div>
          <p class="text-[20px] font-[500] text-[#767676]">
            전문 교육을 받은 기사가 방문하여 폐기물을 수거하고, <br />
            추가적으로 신청 하신 서비스가 있는 경우 추가 서비스를 함께 제공해요.<br />
            현장에 없으셔도 비대면으로 서비스 가능해요.
          </p>
        </div>
      </div>
      <div class="flex flex-row justify-between items-center gap-10">
        <div class="flex flex-col justify-between h-[320px]">
          <div class="flex flex-col gap-5">
            <div class="flex flex-col gap-0">
              <div class="w-[45px] h-[6px] bg-blue"></div>
              <p class="text-[40px] font-[700] text-blue">04</p>
            </div>
            <p class="text-[40px] font-[700]">
              해피콜 및 기사배정
            </p>
          </div>
          <p class="text-[20px] font-[500] text-[#767676]">
            수거가 끝나면 현장 사진, 최종 금액을 보내드려요. <br/>
            요금을 확인하고 결제할 수 있어요.<br/>
            * 현금영수증, 세금계산서 발행 요청이 가능해요.
          </p>
        </div>
        <img src="../../../assets/imgs/about-4.png" alt="01 이미지" class="w-[330px]" />
      </div>

    </div>
  </section>
</body>

</html>