<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <section class="h-screen relative">
    <img src="../../../assets/imgs/about-bg.png" alt="쓰레기 사진" class="w-full h-full object-cover object-center" />
    <div class="absolute top-0 left-0 w-full h-full flex flex-col justify-center items-start">
      <div class="mx-layout flex flex-col justify-center items-start w-full gap-[60px]">
        <div class="flex flex-col gap-[40px]">
          <h1 class="text-[24px] font-[600] text-[#F2F2F2]">
            지구를 구하는 가장 쉬운 방법
          </h1>
          <h2 class="text-[48px] font-[800] text-white">
            모든 폐기물을<br />
            더 빠르게, 더 쉽게 지구하자
          </h2>
        </div>
        <div class="flex flex-col gap-5">
          <div class="flex flex-row gap-3">
            <img src="../../../assets/imgs/CheckIcon.svg" alt="체크 아이콘" class="w-[32px]">
            <p class="text-[20px] font-[400] text-white">
              셀프 인테리어 후 나온 폐기물
            </p>
          </div>
          <div class="flex flex-row gap-3">
            <img src="../../../assets/imgs/CheckIcon.svg" alt="체크 아이콘" class="w-[32px]">
            <p class="text-[20px] font-[400] text-white">
              공사장 생활폐기물
            </p>
          </div>
          <div class="flex flex-row gap-3">
            <img src="../../../assets/imgs/CheckIcon.svg" alt="체크 아이콘" class="w-[32px]">
            <p class="text-[20px] font-[400] text-white">
              간단한 유지보수 후 나온 폐기물
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

</html>