<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section>
      <div class="mx-layout py-40">
        <div class="flex flex-col gap-[16px] mb-32">
          <p class="text-[36px] font-[600]">어떻게 버려야 할 지 고민은 그만</p>
          <h3 class="text-[48px] font-[800]">
            지구하다를 통해 공사장 생활폐기물 신고부터<br />
            수거 접수까지 한번에 버려보세요.
          </h3>
        </div>
        <button class="button-md border border-blue text-blue">
          이용방법 안내
        </button>
      </div>
    </section>
  </body>
</html>
