<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section class="h-screen relative">
      <img
        src="../../../assets/imgs/main-bg.png"
        alt="쓰레기 사진"
        class="w-full h-full object-cover object-center"
      />
      <div
        class="absolute main-bg-gradient top-0 left-0 w-full h-full flex flex-col justify-center items-start"
      >
        <div class="mx-layout flex flex-col justify-center items-start w-full gap-[60px]">
          <div class="flex flex-col gap-[40px]">
            <h1 class="text-[48px] font-[700]">
              지구를 구하는<br />가장 쉬운 방법, <span class="text-blue">지구하다</span>
            </h1>
            <h2 class="text-[32px] font-[400]">
              서울시 공사장 생활폐기물 신고부터 수거까지<br />지구하다로 간편하게 수거 신청 해보세요
            </h2>
          </div>
          <button class="button-lg">3초만에 수거 신청하기</button>
        </div>
      </div>
    </section>
  </body>
</html>
