<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section class="bg-blue">
      <div class="mx-layout py-20 text-center flex flex-col gap-[50px]">
        <h3 class="text-white text-[36px] font-[700]">
          지구하다는 모든 폐기물을 사랑합니다
        </h3>
        <div class="flex flex-row justify-between gap-[20px]">
          <div
            class="relative text-[24px] hover:text-[32px] font-[700] transition-all"
          >
            <img src="../../../assets/imgs/main-section3-1.png" alt="" />
            <div
              class="absolute w-full h-full left-0 top-0 flex justify-center items-center bg-black/40 hover:bg-black/60"
            >
              <p class="text-white">생활 폐기물</p>
            </div>
          </div>
          <div
            class="relative text-[24px] hover:text-[32px] font-[700] transition-all"
          >
            <img src="../../../assets/imgs/main-section3-2.png" alt="" />
            <div
              class="absolute w-full h-full left-0 top-0 flex justify-center items-center bg-black/40 hover:bg-black/60"
            >
              <p class="text-white">사업장 폐기물</p>
            </div>
          </div>
          <div
            class="relative text-[24px] hover:text-[32px] font-[700] transition-all"
          >
            <img src="../../../assets/imgs/main-section3-3.png" alt="" />
            <div
              class="absolute w-full h-full left-0 top-0 flex justify-center items-center bg-black/40 hover:bg-black/60"
            >
              <p class="text-white">인테리어 폐기물</p>
            </div>
          </div>
          <div
            class="relative text-[24px] hover:text-[32px] font-[700] transition-all"
          >
            <img src="../../../assets/imgs/main-section3-4.png" alt="" />
            <div
              class="absolute w-full h-full left-0 top-0 flex justify-center items-center bg-black/40 hover:bg-black/60"
            >
              <p class="text-white">폐목재</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
