<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section class="mx-layout py-20 flex flex-col gap-20 h-screen">
      <h3 class="text-[32px] font-[700]">지구하다와 함께하세요</h3>
      <div class="flex flex-row gap-5 h-full overflow-hidden">
        <div class="w-full overflow-hidden relative rounded-xl">
          <img
            src="../../../assets/imgs/main-section4-1.png"
            alt=""
            class="w-full h-full object-cover"
          />
          <div
            class="absolute top-0 left-0 w-full h-full bg-black/40 flex flex-col px-5 py-5 text-white"
          >
            <p class="flex-1 text-[26px] font-[700]">하나</p>
            <h5 class="text-[20px] font-[700] leading-none mb-1">
              모든 종류의 폐기물 처리 가능
            </h5>
            <h6 class="text-[16px] font-light">
              인테리어 폐기물 부터 각종 행사 후 폐기물 까지
            </h6>
          </div>
        </div>
        <div class="grid grid-rows-4 w-full gap-5">
          <div class="row-span-2">
            <div class="w-full h-full overflow-hidden relative rounded-xl">
              <img
                src="../../../assets/imgs/main-section4-2.png"
                alt=""
                class="w-full h-full object-cover"
              />
              <div
                class="absolute top-0 left-0 w-full h-full bg-black/40 flex flex-col px-5 py-5 text-white"
              >
                <p class="flex-1 text-[26px] font-[700]">둘</p>
                <h5 class="text-[20px] font-[700] leading-none mb-1">
                  지구를 지키는 가장 쉬운 방법
                </h5>
                <h6 class="text-[16px] font-light">
                  단계별 폐기물 처리 인프라 보유로
                </h6>
              </div>
            </div>
          </div>
          <div class="row-span-1">
            <div class="w-full h-full overflow-hidden relative rounded-xl">
              <img
                src="../../../assets/imgs/main-section4-3.png"
                alt=""
                class="w-full h-full object-cover"
              />
              <div
                class="absolute top-0 left-0 w-full h-full bg-black/40 flex flex-col px-5 py-5 text-white"
              >
                <p class="flex-1 text-[26px] font-[700]">셋</p>
                <h5 class="text-[20px] font-[700] leading-none mb-1">
                  편리한 비대면 서비스
                </h5>
                <h6 class="text-[16px] font-light">
                  신청하고, 모아두면 끝나는
                </h6>
              </div>
            </div>
          </div>
          <div class="row-span-1">
            <div class="w-full h-full overflow-hidden relative rounded-xl">
              <img
                src="../../../assets/imgs/main-section4-4.png"
                alt=""
                class="w-full h-full object-cover"
              />
              <div
                class="absolute top-0 left-0 w-full h-full bg-black/40 flex flex-col px-5 py-5 text-white"
              >
                <p class="flex-1 text-[26px] font-[700]">넷</p>
                <h5 class="text-[20px] font-[700] leading-none mb-1">
                  적법한 폐기물 수거 서비스
                </h5>
                <h6 class="text-[16px] font-light">
                  배출 신고, 폐기물 처리 확인서 발급이 가능한
                </h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
