@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

@layer components {
  .mx-layout {
    @apply max-w-[946px] mx-auto px-4;
  }
  .button-md {
    @apply px-[27px] py-[12px] bg-blue text-white rounded-full font-bold text-center;
  }
  .button-lg {
    @apply px-[50px] py-[20px] bg-blue text-white rounded-full font-bold text-center;
  }
}
